.autocomplete-loading {
	background-image:url(/images/autocomplete-loading.gif);
	background-repeat: no-repeat;
	background-position: 98% center;
}
.autocomplete-multi-controls .autocomplete-remove {
	float:right;
	margin-bottom:5px;
}
.autocomplete-multi-controls a {
	outline:none;
}
.autocomplete-multi-container {
	width:200px;
	clear:both;
	border:1px solid #ccc;
	overflow:auto;
}
.autocomplete-multi-rowset {
	padding:2px 4px;
	border-bottom:1px dotted #ddd;
	cursor:default;
}
.autocomplete-multi-rowset:hover {
	background-color:#E8730C;
	color:#fff;
}
.autocomplete-multi-rowset.selected, 
.autocomplete-multi-rowset.selected:hover {
	background:#eee;color:#000
}
.autocomplete-multi-rowset label{margin-left:5px;}
.autocomplete-multi-rowset:hover label{color:#fff}
.autocomplete-multi-rowset.selected:hover label{color:#000}

.autocomplete-list {
	list-style-type:none;
	position:absolute;
	background:#fff;
	border:1px solid #ccc;
	width:300px;
	max-height:200px;
	overflow:auto;
}
.autocomplete-list li{
	margin:0;
	padding:0;
}
.autocomplete-list li.empty{
	padding:2px 4px;
	color:#777;
}
.autocomplete-list li.odd {
	background:#eee;
}
.autocomplete-list a {
	display:block;
	text-decoration:none;
	padding:2px 4px;
	outline:none;
}
.autocomplete-list a:focus,
.autocomplete-list a:hover {
	background:Highlight;
	color:HighlightText;
}
.autocomplete-multi-status {
	width:192px;
	background:#ccc;
	font-size:10px;
	color:#555;
	padding:2px 5px;
	text-align:right;
}